body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.border-right {
    border-right: 1px solid black;
}

.col-centered{
    float: none;
    margin: 0 auto;
}