<head>
     <%include headerScripts %>
<script src="/angularjs/uberApplication.js"></script>
<script src = "/angularjs/customerController.js"></script>
<script src = "/angularjs/layoutController.js"></script>
<script src = "/angularjs/ridesController.js"></script>
<script src = "/angularjs/modalController.js"></script>
<script src = "/angularjs/updateRideController.js"></script>

<style>
    
    .verticalLine {
        position : absolute; 
        top : 60;
        left : 356px;
        width : 1px;
        height:600px;
        border:none;
        color:#D3D3D3;
        background-color:#D3D3D3;
}
        .header {
            background-color : black; 
            width : 100%; 
            height : 80px;
        }
       .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:black;
}
        
    </style>
</head>
 
<body ng-app = "uberApp" >
    <div class = "header">
     
    </div>
 <hr class = "verticalLine"/>
 <div class="row" ng-controller = "layoutController">
    <br>
  <div class="col-md-3"> 
      
 <ul  class="nav nav-pills nav-stacked">
     
  <li role="presentation"><a ui-sref="customerProfile"><center>Profile</center></a></li>
  <li role="presentation" class="active"><a ui-sref="customerTrips"><center>My Trips</center></a></li>
  <li ng-if = "createRideHider" role="presentation"><a ui-sref="createRide"><center>Create Ride</center></a></li>
  <li ng-if = "!createRideHider" role="presentation"><a ui-sref="updateRide"><center>Update Ride</center></a></li>
  
</ul>
      
      
</div>
      
 
 <div class="col-md-9">
     
<div ui-view></div>
 </div>
   
</div>
    
</body>

<script>
    
          $('ul.nav.nav-pills li a').click(function() {           
    $(this).parent().addClass('active').siblings().removeClass('active');  
});
    
</script>
    

 
 
 
 
