<html>
<head>
    <% include headerScripts.ejs%>
    <script src="/angularjs/uberApplication.js"></script>
    <script src="/angularjs/driverController.js"></script>
    <script src="/angularjs/customerController.js"></script>
    
</head>
<body style = "background-color : black" ng-app = "uberApp" ng-controller = "customerController">
    <div class = "container">
    
    <div class = "row">
        
        <div class = "col-md-4 col-md-offset-4" style = "left : 30px">
        
        <img style = "position : absolute; left : 85px;width : 200px; height : 200px;" src = "./images/uber.jpg"/>
            <form class = "form" style = "position : absolute; top: 200px;">
                
                <div class="form-group">
              <label style = "color : white; width : 200px;">EMAIL</label>
                <input type="email" style = "width : 350px; height : 50px" class="form-control" ng-model = "credentials.email">
            </div>
            <div class="form-group">
              <label style = "color : white; width : 350px;">PASSWORD</label>
                <input type="password"  style = "width : 350px; height : 50px" class="form-control" ng-model = "credentials.password">
            </div><br>
                <div class="form-group">
                    <button class="btn btn-info" style = "width : 100%; height : 50px" ng-click = "authenticate(credentials)" id="group">SIGN IN</button>
            </div>
                
            
                </form>
            <div ng-if = "errorDialog" class="alert alert-danger">
                    {{errorMessage}}
                </div>
        </div>
        
        
        
    </div>
    
    </div>
    
</body>



</html>