<!DOCTYPE html>
<html ng-app="uberApp">
 
<head>

<%include headerScripts %>
<script src="/angularjs/uberApplication.js"></script>
</head>
 
<body class="container-fluid"  ng-controller='adminController'>
 
 <div class="row">
   <h1 class="bg-primary">Admin Account</h1>
 <div class="col-md-3 border-right">
 
 <ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a ui-sref="riderequest"><center>Driver Requests</center></a></li>
      <li role="presentation"><a ui-sref="driverridehistory"><center>Ride History</center></a></li></li>
      <li role="presentation"><a ui-sref="driverprofile"><center> Profile</center></a></li>

</ul>
 </div>
 
 <div class="col-md-9">
<div ui-view></div>
 </div>
   
</div>
</body>

<script>
    
          $('ul.nav.nav-pills li a').click(function() {           
    $(this).parent().addClass('active').siblings().removeClass('active');  
});
    
</script>
    

 
 
 
 
