<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	
</head>
<body class="customIndex" background="/images/car1.jpg">
<div class="container">
	<div class="row">
		<div id="headerDriver"> 
			<div class="col-md-4">
				
			</div>
			<div class="col-md-3">
				<h4 style="font-size:20px;color:white;font-family: ff-clan-web-pro-wide,sans-serif;font-weight:normal;">WANT TO DRIVE WITH UBER?</h4>
			</div>
			<div class="col-md-5">
				<a href="/driver" class="btn btn-success" role="button" style="margin-top:6px;">BECOME DRIVER</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="header"> 
			<div class="col-md-10">
				
			</div>
			<div class="col-md-2">
				<div style="margin-top:10px">
				<a href="/redirectToLoginOptions">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/customerSignup" class="btn btn-success" style="background-color: black;border: 2px solid green;">SIGN UP</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin-top:200px">
		<h1 style="color:black">DRIVE WITH UBER</h1>
		<h3 style="color:black">YOUR CAR. YOUR SCHEDULE. YOUR MOVE.</h3>
		</div>
	</div>
</div>
</body>
</html>