<!DOCTYPE html>
<html>
 <head>
  <%include headerScripts %>
     <link rel = "stylesheet" href = "/stylesheets/style.css">
	
 </head>
<body class="loginOptions_background">
<div class="container">
	<div class="row">
		<div class="col-md-4">
				
		</div>
		<div class="col-md-4">
			<p class="center uber-logo-container">
		        <a href="/" class="uber-logo ir">Uber</a>
		     </p>
			<p class="focused-view-subtitle uppercase center border-center">
				<span> Log In </span>
			</p>
			<a href="/customerSignIn" class="btn btn-success" role="button" style="margin-top:6px;width:400px;height:50px;background-color: #1fbad6;"><h4>LOG IN AS A RIDER</h4></a><br/><br/>
			<a href="/driverSignIn" class="btn btn-default" role="button" style="margin-top:6px;width:400px;height:50px;background-color: #b3d4fc;"><h4>LOG IN AS A DRIVER</h4></a>
		</div>
		<div class="col-md-4">
				
		</div>
	</div>
</div>
</body>
</html>